<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/semantic-ui")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="@Url.Action("Index", "Home")" class="header item">
                <img class="logo" src="https://n9e5v4d8.ssl.hwcdn.net/images/longlanding/lotusIcon.jpg" />
                &nbsp;&nbsp;Warframe Checklist
            </a>
            <a href="@Url.Action("Index", "Item")" class=" active item">Items</a>
            <a href="@Url.Action("Index", "Wishlist")" class="item">Wishlist</a>
            <a href="@Url.Action("Index", "Tasklist")" class="item">Tasklist</a>
        </div>
    </div>
    <div class="ui main container">
        @RenderBody()
    </div>
    <!--<div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <p>&copy; @DateTime.Now.Year - Warframe Checklist</p>
        </div>
    </div>-->
</body>
</html>
